.page-header {
  position: relative;
  background-color: @basic_white;
  width: 100%;
  min-width: @mobile_width;
  max-width: @desktop_width;

  @media (min-width: @desktop_width) {
    display: flex;
    flex-wrap: wrap;
    background-color: initial;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  margin: 0 20px;
  z-index: 3;

  @media (min-width: @tablet_width) {
    min-height: 94px;
    margin: 0 30px;
  }

  @media (min-width: @desktop_width) {
    align-items: flex-end;
    width: 610px;
    min-height: 112px;
    margin: 0;
    margin-left:110px;
  }
}

.header__logo {
  min-width: 34px;
  height: 38px;

  @media (min-width: @tablet_width) {
    min-width: 174px;
    min-height: 52px;
  }

  @media (min-width: @desktop_width) {
    min-width: 202px;
    min-height: 59px;
    margin-bottom: 15px;
  }
}

.header__logo:hover,
.header__logo-text:hover {
  opacity: .6;
  transform: scale(1.1);
  transition: .25s ease;
}

.header__logo:active,
.header__logo-text:active {
  opacity: .3;
  transform: scale(.9);
  transition: .15s ease;
}

.header__logo-text {
  min-width: 101px;
  height: 18px;
  margin-top: -3px;

  @media (min-width: @tablet_width) {
    display: none;
  }
}

.header__toggle-container {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;

  @media (min-width: @tablet_width) {
    width: 36px;
    height: 36px;
    margin-left: 0;
  }

  @media (min-width: @desktop_width) {
    display: none;
  }
}

.header__toggle {
  display: block;
  position: relative;
  top: 3px;
  width: 24px;
  height: 1.5px;
  margin-right: 30px;
  background-color: @basic_black;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease 0s;

  @media (min-width: @tablet_width) {
    top: 7px;
    width: 36px;
    height: 2px;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 24px;
  height: 1.5px;
  background-color: @basic_black;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease 0s;

  @media (min-width: @tablet_width) {
    top: 10px;
    width: 36px;
    height: 2px;
  }
}

.header__toggle::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0px;
  width: 24px;
  height: 1.5px;
  background-color: @basic_black;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease 0s;

  @media (min-width: @tablet_width) {
    top: 20px;
    width: 36px;
    height: 2px;
  }
}

.header__toggle--closed{
  position: relative;
  left: 5px;
  top: 3px;
  background-color: @basic_white;

  @media (min-width: @tablet_width) {
    z-index: 3;
    background-color: @lime_green;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    width: 24px;
    height: 1.5px;
    background-color: @basic_black;
    border-radius: 1.5px;
    transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);

    @media (min-width: @tablet_width) {
      top: 14px;
      left: -2px;
      width: 36px;
      height: 2px;
      background-color: @basic_white;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet_width) {
    position: absolute;
    width: 350px;
    top: 11px;
    right: 11px;
    z-index: 2;
    background-color: @lime_green;
    border: 1px solid @light_grey;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0 12px 24px @green_yellow, 0 10px 14px @light_grey;
  }

  @media (min-width: @desktop_width) {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 610px;
    background-color: initial;
    padding: 0 95px 0 15px;
    border: none;
    border-radius: 0;
    top: 0;
    right: 0;
    box-shadow: none;
  }
}

.header__nav-list--closed {
  @media (max-width: @tablet_width_only) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
}

.header__nav-item {
  min-height: 66px;
  margin: 0;
  padding: 0;
  border-top: 1px solid @light_grey;

  @media (min-width: @desktop_width) {
    border: none;
  }

  @media (min-width: @desktop_width) {
    margin: 0 25px;
  }
}

.nav-item__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: auto;
  min-height: 66px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet_width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: @basic_white;
  }

  @media (min-width: @desktop_width) {
    justify-content: center;
    align-items: flex-start;
    width: min-content;
    min-height: 24px;
  }
}

.nav-item__link:hover {
  opacity: 0.5;
  transition: .3s linear .3s;
}

.nav-item__link:active {
  opacity: 0.3;
  transform: scale(0.8);
  transition: .2s linear;
}

.nav-item__link::after {
  @media (min-width: @desktop_width) {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: linear-gradient(to top, @transparent, @lime_green, @transparent) no-repeat;
    background-size: 100% 100%;
    background-position: 0 -50px;
  }
}

.nav-item__link:hover::after {
  @media (min-width: @desktop_width) {
    transition: .8s linear;
    background-position: 0 50px;
  }
}
