.page {
  height: 100%;
  background-color: @basic_white;
}

.page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100%;
  min-width: @mobile_width;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 27px;
  color: @basic_black;
  background-color: @basic_white;

  // outline: 1px solid purple;
  // outline-offset: -1px;
}
