// colors
@basic_white: #FFFFFF;
@basic_black: #111111;
@light_grey: #E6E6E6;
@lime_green: #68B738;

// viewports
@tablet_width: 768px;
@desktop_width: 1440px;
@mobile_width: 320px;
@mobile_width_only: 767px;
@tablet_width_only: 1439px;
