// colors
@basic_white: #FFFFFF;
@basic_black: #000000;
@light_grey: #ECECEC;
@white_grey: #f8f8f8;
@medium_grey: #F1F1F1;
@silver: #E5E5E5;
@dark_silver:	#C0C0C0;
@dark_grey: #444444;
@cyan: #63D1BB;
@sky_cyan: #46C1AE;
@light_cyan: #59D5BC;
@dark_cyan: #56C3B2;

// viewports
@tablet_width: 768px;
@desktop_width: 1150px;
@mobile_width: 320px;
@mobile_width_only: 767px;
@tablet_width_only: 1439px;
